
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center">¡Aprendiendo a crear páginas web en C# y MVC!</h1>
                        <p class="card-text">Bienvenido a mi página web. Estoy emocionado de compartir contigo mi viaje de aprendizaje en el desarrollo web utilizando C# y el patrón Modelo-Vista-Controlador (MVC).</p>
                        <p class="card-text">A través de esta experiencia, espero adquirir habilidades sólidas en el desarrollo de aplicaciones web, crear proyectos interesantes y conectar con otros desarrolladores en la comunidad.</p>
                        <p class="card-text">¡Únete a mí en este emocionante viaje mientras exploramos el fascinante mundo del desarrollo web con C# y MVC!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
