@{
    ViewData["Title"] = "Politica de privacidad";
}
<h1>@ViewData["Title"]</h1>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Política de Privacidad</h1>
                    <p class="card-text">En esta página web, valoramos tu privacidad y queremos ser transparentes contigo sobre cómo tratamos tus datos y la propiedad intelectual.</p>
                    <p class="card-text">Básicamente, cualquier idea o diseño encontrado en esta página web se puede utilizar (aunque no haya mucho que copiar) bajo las siguientes condiciones:</p>
                    <ul class="card-text">
                        <li>Debes respetar los derechos de autor y atribuir apropiadamente cualquier contenido que utilices.</li>
                        <li>No debes usar el contenido de esta página para fines comerciales sin permiso.</li>
                        <li>No se permite la reproducción total o parcial del contenido con fines maliciosos o engañosos.</li>
                    </ul>
                    <p class="card-text">Recuerda que cualquier uso indebido del contenido de esta página puede estar sujeto a acciones legales.</p>
                    <p class="card-text">Aunque realmente si ves esto ya tienes el codigo, entonces... me debes $500</p>

                </div>
            </div>
        </div>
    </div>
</div>